.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(237, 233, 233);
    min-height: 100vh;
    background-color: white;
    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        }
    }
    hr{
        margin: 10px 0;
        border: 0.5px solid rgb(237, 233, 233);
        height: 0;
        background-color: #e6e6e6;
    }

    .center{
        padding-left: 10px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .title{
                font-size: 13px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }

        li{
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            &:hover{
                background-color: #ece8ff;
            }

            .icon{
                font-size: 18px;
                color: #6439ff;
                margin-right: 10px;
            }

            span{
                font-size: 14px;
                font-weight: 600;
                color: #858181;
            }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOptions{
            width: 20px;
            height: 20px;
            border-radius: 10%;
            border: 1px solid #6439ff;
            cursor: pointer;

            &:first-child{
                background-color: whitesmoke;
                margin-right: 10px;
            }
            &:last-child{
                background-color: #333;
            }
        }
    }
}