.featuredChart{
    flex: 2;
    box-shadow: 9px 10px 18px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 18px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 18px -1px rgba(0,0,0,0.75);
padding: 10px;

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;

    .title{
        font-size: 20px;
        font-weight: 600;
    }
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;

    .featuredChart{
        width: 100px;
        height: 200px;
    }

    .title{
        font-size: 18px;
        font-weight: 600;
    }

    .amount{
        font-size: 30px;
        font-weight: 600;
    }

    .desc{
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        color: grey;
    }

    .summary{
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: grey;

        .item{
            text-align: center;

            .itemTitle{
                font-size: 14px;
                color: grey;
            }

            .itemResult{
                display: flex;
                align-items: center;
                margin-top: 10px;
                font-size: 15px;

                &.positive{
                    color: green;
                }
                &.negative{
                    color: red;
                }

                .resultAmount{
                    font-weight: 600;
                }
            }
        }
    }
}
}
