.widget{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 9px 10px 18px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 18px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 18px -1px rgba(0,0,0,0.75);
    border-radius: 10px;
    // margin: 20px;
    height: 150px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 20px;
            color: rgb(193, 185, 185)
        }

        .counter{
            font-size: 30px;
            font-weight: 300;
        }

        .link{
            font-size: 15px;
            border-bottom: 1px solid grey;
            width: fit-content;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 14px;

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }

        .icon{
            font-size: 30px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }

}