.home{
    display: flex;
    .homeContainer {
        flex: 6;

        .widgets, .charts{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
        }

        .charts{
            padding: 5px 20px;
        }
    }
}