body {
  background-color: #eaf6ea;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: left;
  height: 100vh;
}

.spendings {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: rgb(255, 255, 255);
  justify-content: left;
  width: 15%;
}

.expense {
  border-left: 2px solid rgb(255, 255, 255);
  text-align: center;
  width: 50%;
}

.income {
  border-right: 2px solid rgb(255, 255, 255);
  text-align: center;
  width: 50%;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

#text {
  height: 25px;
  border-radius: 5px;
}

#amount {
  height: 25px;
  border-radius: 5px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.trans {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  margin-right: 200px;
  border: 2px solid rgb(238, 221, 221);
  height: 40px;
  padding: 1px;
  margin-bottom: 20px;
}

.list {
  border-radius: 4px;
  align-items: center;
  width: 17%;
  margin-bottom: 1%;
  background-color: white;
  height: 4%;
  padding-left: 0.4%;
  padding-top: 0.4%;
}

.price {
  text-align: right;
  border-right: 8px solid rgb(255, 0, 0);
  padding-right: 1.5%;
  margin-left: 48%;
}

.delete-btn {
  /* Red background */
  color: rgb(32, 28, 28);
  /* White text */
  border: none;
  /* No border */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  /* Cursor changes to hand when hovering over button */
  font-size: 11px;
  /* Adjust as needed */
  font-weight: bold;
  /* Bold text */
  margin-left: 5%;
}

.delete-btn:hover {
  background-color: rgb(255, 104, 104);
  /* Darker red when hovering */
}
